# WEB SCRAPING – ASSIGNMENT 2

# Jane Chinwuko
# Batch number: DS2307

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\omen\anaconda3\lib\site-packages (4.11.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\omen\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\omen\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\omen\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\omen\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\omen\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: idna in c:\users\omen\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\omen\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\omen\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\omen\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\omen\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\omen\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\omen\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\omen\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\omen\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\omen\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

WARNING: Ignoring invalid distribution -illow (c:\users\omen\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\omen\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\omen\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\omen\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\omen\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\omen\anaconda3\lib\site-packages)

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [2]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [3]:
# Initialize the WebDriver
driver = webdriver.Chrome()

In [4]:
# Open the Shine.com website
driver.get("https://www.shine.com/")

In [5]:
# Find and input the job title
job_title_input = driver.find_element(By.CLASS_NAME, "form-control  ")
job_title_input.send_keys("Data Analyst")

In [6]:
# Find and input the location
location_input = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location_input.send_keys("Bangalore")

In [7]:
# Click the search button
search_button = driver.find_element(By.CLASS_NAME, "searchForm_btnWrap_advance__VYBHN")
search_button.click()

In [8]:
#create empty lists for the features to be scraped from the website
job_title = []
job_location = []
company_name = []
experience_required = []

In [9]:
# Scrape data for the first 10 job results
# Scrape the first job title
title_tags = driver.find_elements(By.XPATH, '/html/body/div[1]/div[1]/div[5]/div/div[1]//h2')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
# Scrape the first job loction
location_tags = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
# Scrape the first company name
company_tags = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
# Scrape the first experience required    
experience_tags = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    expn = i.text
    experience_required.append(expn)

In [10]:
#View the length of the features
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [11]:
#Create the dataframe and display the result
df = pd.DataFrame({'Title': job_title, 'Location': job_location, 'Company_name': company_name, 'Experience':experience_required})
print(df)

                                               Title        Location  \
0                 Project Coordinator (Data Analyst)       Bangalore
1                         Data Analyst - Java/Python       Bangalore
2                            Hiring For Data Analyst  Bangalore\n+14
3                                Senior Data Analyst       Bangalore
4                                       Data Analyst   Bangalore\n+9
5                     Data Analyst Urgent Recruiment  Bangalore\n+14
6  How relevant did you find the job search resul...       Bangalore
7                           Apply Now a Data Analyst       Bangalore
8                             Apply Now Data Analyst       Bangalore
9                            Needed for Data Analyst       Bangalore

                             Company_name   Experience
0                     futures and careers   2 to 4 Yrs
1  boyen haddin consulting and technol...   3 to 6 Yrs
2                kavya staffing solutions   0 to 4 Yrs
3           ara resources private limited   2 to 5 Yrs
4  ashutosh sabhashankar chaturvedi hi...  7 to 12 Yrs
5                       divya interprises   0 to 4 Yrs
6       deuglo infosystem private limited   1 to 2 Yrs
7       deuglo infosystem private limited   1 to 2 Yrs
8       deuglo infosystem private limited   1 to 2 Yrs
9       deuglo infosystem private limited   1 to 2 Yrs

In [12]:
#close the driver
driver.quit()

Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [13]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [14]:
# Initialize the WebDriver
driver = webdriver.Chrome()  # Change this to your WebDriver of choice

In [15]:
# Open the Shine.com website
driver.get("https://www.shine.com/")

In [16]:
# Find and input the job title
job_title_input = driver.find_element(By.CLASS_NAME, "form-control  ")
job_title_input.send_keys("Data Scientist")

In [17]:
# Find and input the location
location_input = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location_input.send_keys("Bangalore")

In [18]:
# Click the search button
search_button = driver.find_element(By.CLASS_NAME, "searchForm_btnWrap_advance__VYBHN")
search_button.click()

In [19]:
#create empty lists for the features to be scraped from the website
job_title = []
job_location = []
company_name = []

In [20]:
# Scrape data for the first 10 job results
# Scrape the first job title
title_job = driver.find_elements(By.XPATH, '/html/body/div[1]/div[1]/div[5]/div/div[1]//h2')
for i in title_job[0:10]:
    title = i.text
    job_title.append(title)
    
# Scrape the first job loction
location_job  = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_job[0:10]:
    location = i.text
    job_location.append(location)
    
# Scrape the first company name
company_job = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_job[0:10]:
    company = i.text
    company_name.append(company)

In [21]:
#View the length of the features
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [22]:
#Create the dataframe and display the result
df = pd.DataFrame({'Title': job_title, 'Location': job_location, 'Company_name': company_name})
print(df)

                                               Title        Location  \
0                          Hiring For Data Scientist  Bangalore\n+17
1                          Hiring For Data Scientist  Bangalore\n+17
2                                     Data Scientist       Bangalore
3                  Data Scientist Urgent Recruitment  Bangalore\n+14
4                        Required for Data Scientist       Bangalore
5                       Urgently need Data Scientist   Bangalore\n+8
6  How relevant did you find the job search resul...       Bangalore
7                           Data scientist Bangalore       Bangalore
8                                     Data Scientist  Bangalore\n+15
9                          Hiring For Data Scientist   Bangalore\n+8

                             Company_name
0                kavya staffing solutions
1                kavya staffing solutions
2                     skyleaf consultants
3                       divya interprises
4       deuglo infosystem private limited
5       deuglo infosystem private limited
6  seven geomax consulting private lim...
7  employberry consultants hiring for ...
8                    niharika enterprises
9       deuglo infosystem private limited

In [23]:
#close the driver
driver.quit()

Q3: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [24]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [25]:
# Initialize the WebDriver
driver = webdriver.Chrome()  # Change this to your WebDriver of choice

In [26]:
# Open the Shine.com website
driver.get("https://www.shine.com/")

In [27]:
# Find and input the job title
job_title_input = driver.find_element(By.CLASS_NAME, "form-control  ")
job_title_input.send_keys("Data Scientist")

In [28]:
#click the search button
search_button = driver.find_element(By.CLASS_NAME, "searchForm_btnWrap_advance__VYBHN")
search_button.click()

In [29]:
# Find and select the location filter
location_filter = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]")
location_filter.click()

In [30]:
# select delhi in location filter
delhi_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[8]")
delhi_button.click()

In [31]:
#click the search button
search_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
search_button.click()

In [32]:
# Find and select the salary filter
salary_filter = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[3]/button")
salary_filter.click()

In [33]:
# select 3-5 lakhs in the salary filter
lakh_input = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
lakh_input.click()

In [34]:
#Click the search button
search_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
search_button.click()

In [35]:
#create empty lists for the features to be scraped from the website
job_title = []
job_location = []
company_name = []
experience_required = []

In [36]:
# Scrape job title,location,company name nd experience required for the first 10 job results
for pages in range(0,1):
    title_tags = driver.find_elements(By.XPATH, '/html/body/div[1]/div[1]/div[5]/div/div[1]//h2')
    for i in title_tags[0:10]:
        title = i.text
        job_title.append(title)
    

    location_tags = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
    for i in location_tags[0:10]:
        location = i.text
        job_location.append(location)
    

    company_tags = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
    for i in company_tags[0:10]:
        company = i.text
        company_name.append(company)
    
    
    experience_tags = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
    for i in experience_tags[0:10]:
        exp = i.text
        experience_required.append(exp)
    
    next_button = driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [37]:
#View the length of the features
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [38]:
#Create the dataframe and display the result
df = pd.DataFrame({'Title': job_title, 'Location': job_location, 'Company_name': company_name, 'Experience':experience_required})
print(df)

                                               Title   Location  \
0                                     Data Scientist  Delhi\n+6
1                                     Data Scientist      Delhi
2                                     Data Scientist  Delhi\n+6
3                                     Data Scientist  Delhi\n+4
4       for _GCP Data Engineer/Lead/Architect- Delhi      Delhi
5       for _GCP Data Engineer/Lead/Architect- Delhi      Delhi
6  How relevant did you find the job search resul...      Delhi
7  Req. For Data Scientist -Reputed Data Analytic...      Delhi
8      For Senior Data Scientist-Reputed IT Industry      Delhi
9                            Req. now Data Scientist      Delhi

                    Company_name  Experience
0                quiscon biotech  0 to 3 Yrs
1            skyleaf consultants  3 to 6 Yrs
2                quiscon biotech   0 to 1 Yr
3  acme services private limited  3 to 5 Yrs
4          nina s hr consultancy  2 to 3 Yrs
5          nina s hr consultancy  2 to 3 Yrs
6              seven consultancy  2 to 6 Yrs
7              seven consultancy  4 to 8 Yrs
8              seven consultancy  3 to 5 Yrs
9            skyleaf consultants  3 to 6 Yrs

In [39]:
#close the driver
driver.quit()

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price

The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [55]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [56]:
# Initialize the WebDriver
driver = webdriver.Chrome()  # Change this to your WebDriver of choice

In [57]:
# Open the Shine.com website
driver.get("https://www.flipkart.com/")

In [58]:
# Searching for sunglasses in search box
sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys('sunglasses')
sunglasses.send_keys(Keys.RETURN)

In [59]:
#create empty lists for the features to be scraped from the website
brand=[]
product_description=[]
price=[]

In [60]:
# Wait for results to load
time.sleep(2)

In [61]:
# Scraping Data for brand, product description and price
# Loop through multiple pages
for j in range(0,3):
    brands=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")[0:100]
    for i in brands:
        brand.append(i.text)
        
    Product_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")[0:100]
    for i in Product_desc:
        product_description.append(i.text)   
        
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")[0:100]
    for i in prices:
        price.append(i.text)
        
    next_click=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [62]:
#View the length of the features
print(len(brand),len(product_description),len(price))

120 105 117

In [63]:
#getting data for 100 sunglasses
brand = brand[0:100]
prod_description = product_description[0:100]
price = price[0:100]

In [64]:
#Create the dataframe and display the result
df=pd.DataFrame({'Brand':brand,'Prod_desc':prod_description,'Price':price})
df

            Brand                                          Prod_desc   Price
0   VINCENT CHASE  UV Protection, Polarized Over-sized Sunglasses...    ₹899
1    Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...    ₹379
2            SRPM             UV Protection Wayfarer Sunglasses (50)    ₹204
3          PIRASO           UV Protection Clubmaster Sunglasses (54)    ₹239
4       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹179
..            ...                                                ...     ...
95      ROYAL SON          Night Vision Retro Square Sunglasses (60)    ₹495
96   Singco India     Polarized, UV Protection Round Sunglasses (50)    ₹294
97    john jacobs          UV Protection Rectangular Sunglasses (56)  ₹3,740
98      Rich Club         UV Protection Retro Square Sunglasses (54)    ₹283
99        ROADWAY  Night Vision, UV Protection, Polarized Wrap-ar...  ₹1,037

[100 rows x 3 columns]

In [65]:
#close the driver
driver.quit()

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually

In [66]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [67]:
# Initialize the WebDriver
driver = webdriver.Chrome()  # Change this to your WebDriver of choice

In [68]:
# Open the website
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [69]:
#create empty lists for the features to be scraped from the website
pages=[]
Review_summary=[]
Full_review=[]
Rating=[]

In [70]:
# Wait for results to load
time.sleep(2)

In [71]:
#scrape the url for 10 pages to get 100 reviews
navigation_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in navigation_1:
    pages.append(i.get_attribute('href'))
navigation_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in navigation_2:
    pages.append(i.get_attribute('href'))
time.sleep(3)


for j in pages:
    driver.get(j)
    #scrape the number of Rating in the review
    for k in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(k.text)
    #scrape the summary of the reviews
    for l in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        Review_summary.append(l.text)
    #scrape the full reviews
    for m in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        Full_review.append(m.text)

In [72]:
#View the length of the features
print(len(Rating),len(Review_summary),len(Full_review))

100 100 100

In [73]:
#Create the dataframe and display the result
df=pd.DataFrame({'Rating':Rating,'Review Summary':Review_summary,'Full Review':Full_review})
df

,Rating,Review Summary,Full Review
0,5,Terrific purchase,Value for money 😍
1,5,Classy product,Photos super
2,5,Terrific,Very very good
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Wonderful,This is amazing at all
...,...,...,...
95,5,Brilliant,Best phone
96,5,Brilliant,Perfect iPhone on this budget!! Camera and the...
97,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
98,5,Worth every penny,iPhone is delivered on time. Display is great ...
99,5,Classy product,Outstanding performance this phone

In [74]:
#close the driver
driver.quit()

Q6: Scrape data for first 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [75]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [76]:
# Initialize the WebDriver
driver = webdriver.Chrome()  # Change this to your WebDriver of choice

In [77]:
# Open the Shine.com website
driver.get("https://www.flipkart.com/")

In [83]:
# searching for sneakers in the web page
sneakers=driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys('sneakers')
sneakers.send_keys(Keys.RETURN)

In [84]:
#create empty lists for the features to be scraped from the website
brand=[]
description=[]
price=[]

In [85]:
# Scraping Data for brand, price and product description 
#looping 4 page to scrap data
for page in range(0,4):
    
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
        
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
    for i in desc:
        description.append(i.text)
    #scraping the list of buttons in the page   
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [86]:
#View the length of the features
print(len(brand),len(description),len(price))

160 160 160

In [87]:
# Creating Dataframe for 100 items and display results
df=pd.DataFrame({'Brand':brand[0:100],'Prod_desc':description[0:100],'Price':price[0:100]})
df

            Brand                                          Prod_desc   Price
0          BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹499
1   WHITE WALKERS  Stylish & Trending Outdoor Walking Comfortable...    ₹599
2        Nobelite                                   Sneakers For Men    ₹299
3          BRUTON               Modern Trendy Shoes Sneakers For Men    ₹379
4        Nobelite                                   Sneakers For Men    ₹299
..            ...                                                ...     ...
95           PUMA                  Rebound LayUp SL Sneakers For Men  ₹2,399
96  WHITE WALKERS  Stylish & Trending Outdoor Walking Comfortable...    ₹599
97       RapidBox                                   Sneakers For Men    ₹695
98      jootiyapa  JOOTIYAPA PREMIUM SNEAKERS FOR MEN Sneakers Fo...    ₹499
99       RED TAPE                                   Sneakers For Men  ₹1,399

[100 rows x 3 columns]

In [88]:
##close the driver
driver.quit()

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [95]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [96]:
# Initialize the WebDriver
driver = webdriver.Chrome()  # Change this to your WebDriver of choice

In [97]:
# Open the Shine.com website
driver.get("https://www.amazon.in/")

In [98]:
# searching for laptops in the web page
laptop=driver.find_element(By.XPATH,"//div[@class='nav-search-field ']//input")
laptop.send_keys('Laptop')
laptop.send_keys(Keys.RETURN)

In [100]:
# code to filter i7 CPu-
cpu_filter1=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[7]/ul[7]/span[11]/li/span/a/span")
cpu_filter1.click()

In [101]:
# Wait for results to load
time.sleep(2)

In [102]:
#create empty lists for the features to be scraped from the website
Title=[]
price=[]
Rating=[]

In [103]:
#looping through pages to scrap data
for webpage in range(0,1):
    page_title=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    for i in page_title[0:10]:
        titles = i.text
        Title.append(titles) 
        
    item_prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in item_prices[0:10]:
        prices = i.text
        price.append(prices)

In [104]:
#getting the ratings for each laptop
item_rating=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in item_rating:
    Rating.append(i.get_attribute("aria-label")) 
stars=[]
for i in range(0,len(Rating))[0:20]:
    if i == 0 or  i/2 == i//2:
        stars.append(Rating[i][0:3])

In [105]:
#View the length of the features
print(len(Title),len(price),len(stars))

10 10 10

In [106]:
# Creating Dataframe and display results
df=pd.DataFrame({'Title':Title,'Ratings':stars,'Price':price})
df

                                               Title Ratings     Price
0  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...     4.5    70,990
1  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     4.0    64,990
2  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...     4.4  1,15,990
3  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...     3.3    86,249
4  Acer Nitro 5 12th Gen Intel Core i7-12650H Gam...     4.1    99,990
5  Dell Vostro 5630 13th Gen Laptop,Intel i7-1355...     4.6    89,990
6  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...     3.3    62,990
7  HP Victus Gaming Latest 12th Gen Intel Core i7...     4.1    87,990
8  Dell Inspiron 5630 13th Gen Laptop, Intel Core...     3.6    89,990
9  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...     4.5    89,990

In [107]:
#close the driver
driver.quit()

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [108]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time

In [109]:
# Initialize the WebDriver
driver = webdriver.Chrome()  # Change this to your WebDriver of choice

In [110]:
# Open the Shine.com website
driver.get("https://www.azquotes.com/")

In [111]:
# Click on Top Quotes tab
search_button=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a")
search_button.click()

In [112]:
#create empty lists for the features to be scraped from the website
Quote=[]
Author=[]
Type_of_quotes=[]

#fetching the details
quote_details=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//div[@class='wrap-block']")]

#Looping through the quote details to fetch the different features and append to the list created
for i in quote_details:
    Quote.append(i[0])
    Author.append(i[1])
    Type_of_quotes.append(i[2])

In [113]:
# Creating Dataframe and display results
df=pd.DataFrame({'Quote':Quote,'Author':Author,'Type of Quotes':Type_of_quotes })
df

,Quote,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [114]:
#close driver
driver.quit()

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [115]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [116]:
# Initialize the WebDriver
driver = webdriver.Chrome()  # Change this to your WebDriver of choice

In [117]:
# Open the Shine.com website
driver.get("https://www.jagranjosh.com/")

In [118]:
# select the GK option tab
gk_click = driver.find_element(By.XPATH, "/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a")
gk_click.click()

In [119]:
# click on the List of all Prime Ministers of India
President_click = driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
President_click.click()

In [120]:
#create empty lists for the features to be scraped from the website
Name = []
Born_Dead = []
Terms_of_office = []
Remarks = []

In [121]:
#fetch the Name, Born-Dead,Term of office, and Remarks
names = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in names:
    Name.append(i.text)

In [122]:
#fetch the Born-Dead
born_dead = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_dead:
    Born_Dead.append(i.text)

In [123]:
#fetch the Term of office
terms_of_office = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr/td[4]')
for i in terms_of_office:
    title = i.text
    Terms_of_office.append(i.text.replace('\n', ''))

In [124]:
#fetch the Remarks
remarks = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remarks:
    Remarks.append(i.text)

In [125]:
#View the length of the features
print(len(Name),len(Born_Dead),len(Terms_of_office),len(Remarks))

19 19 19 19

In [126]:
# Creating Dataframe and display results
df=pd.DataFrame({"Names":Name,"Born-Dead":Born_Dead,"Term of office":Terms_of_office,
                "Remarks":Remarks})
df

,Names,Born-Dead,Term of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 196416 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 19661 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 196613 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 197711 years, 59 days",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 19844 years, 291...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 19895 years, 32 ...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 19964 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 199616 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

In [127]:
#close the driver
driver.quit()

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [128]:
# import the required libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [129]:
# Initialize the WebDriver
driver = webdriver.Chrome()  # Change this to your WebDriver of choice

In [130]:
# Open the Shine.com website
driver.get("https://www.motor1.com/")

In [131]:
# Searching for 50 Most Expensive Cars In The World
cars_search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
cars_search.send_keys("50 Most Expensive Cars In The World")
cars_search.send_keys(Keys.RETURN)

In [133]:
#Click on the 50 Most Expensive Cars In The World tab
car_exp=driver.find_element(By.XPATH,"/html/body/div[10]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a")
car_exp.click()

In [134]:
#create an empty list
exp_cars = []
car_prices = []

In [135]:
# Scraping Data for the Car names and their Prices
names_cars = driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in names_cars:
    exp_cars.append(i.text)
exp_cars.pop()

prices_cars = driver.find_elements(By.XPATH,"//strong")
for j in prices_cars:
    car_prices.append(j.text)

In [136]:
#View the length of the features
print(len(exp_cars),len(car_prices))

50 50

In [137]:
# Creating Dataframe and display results
df=pd.DataFrame({"CAR NAME":exp_cars,"PRICE OF CAR($)":car_prices})
df

                              CAR NAME              PRICE OF CAR($)
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)

In [138]:
#close the driver
driver.quit()